# PwnPi tool as a service
[Unit]
Description=PwnPi tool as a service
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/pwnpi -vv pwn

[Install]
WantedBy=sysinit.target

# vim: set ft=systemd:
